### Dropna() function

In [1]:
import pandas as pd

In [2]:
sales=pd.read_csv('../sales_data.csv')

In [14]:
sales.head()

,flag,gender,education,house_val,age,online,customer_psy,marriage,child,occupation,mortgage,house_owner,region,car_prob,fam_income
0,Y,M,4. Grad,756460,1_Unk,N,B,NaN,U,Professional,1Low,NaN,Midwest,1,L
1,N,F,3. Bach,213171,7_>65,N,E,NaN,U,Professional,1Low,Owner,Northeast,3,G
2,N,M,2. Some College,111147,2_<=25,Y,C,NaN,Y,Professional,1Low,Owner,Midwest,1,J
3,Y,M,2. Some College,354151,2_<=25,Y,B,Single,U,Sales/Service,1Low,NaN,West,2,L
4,Y,F,2. Some College,117087,1_Unk,Y,J,Married,Y,Sales/Service,1Low,NaN,South,7,H

In [7]:
sales.shape

(40000, 15)

In [6]:
# if delete all row that have nan value
sales.dropna().shape

(23558, 15)

In [ ]:
# it delete the row that have all nan value
sales.dropna(how='all').shape

(40000, 15)

In [13]:
#  0 -> row
#  1 -> columns
sales.dropna(axis=1,how="all").shape

(40000, 15)

In [19]:
# To specific columns
sales.dropna(subset=['house_owner'],how="all").shape

(36623, 15)

In [18]:
sales.dropna(subset=['house_owner','marriage'],how="all").shape

(38856, 15)