In [1]:
import pandas as pd

In [2]:
sales=pd.read_csv('../sales_data.csv')

In [7]:
sales.tail()

,flag,gender,education,house_val,age,online,customer_psy,marriage,child,occupation,mortgage,house_owner,region,car_prob,fam_income
39995,Y,F,3. Bach,0,7_>65,Y,C,NaN,U,Retired,1Low,NaN,South,3,F
39996,N,F,1. HS,213596,4_<=45,N,I,Married,U,Blue Collar,1Low,Owner,South,1,D
39997,Y,M,0. <HS,134070,3_<=35,Y,F,Married,U,Sales/Service,1Low,Owner,Midwest,4,E
39998,N,M,1. HS,402210,7_>65,Y,E,NaN,Y,Sales/Service,1Low,NaN,West,2,B
39999,N,F,3. Bach,836030,7_>65,Y,B,Married,N,Retired,2Med,Owner,Northeast,1,J

It can be apply on series

In [14]:
sales['house_owner'].fillna('owner')

0        owner
1        Owner
2        Owner
3        owner
4        owner
         ...
39995    owner
39996    Owner
39997    Owner
39998    owner
39999    Owner
Name: house_owner, Length: 40000, dtype: object

In [20]:
sales['marriage'].fillna(method='bfill')

C:\Users\Waheed khan\AppData\Local\Temp\ipykernel_2100\4275195182.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sales['marriage'].fillna(method='bfill')

0         Single
1         Single
2         Single
3         Single
4        Married
          ...
39995    Married
39996    Married
39997    Married
39998    Married
39999    Married
Name: marriage, Length: 40000, dtype: object